[Desktop Entry]
Encoding=UTF-8
Name=Link to IEEE SpectrumWhy Is Hydroelectricity So Green, and ...
Type=Link
URL=https://www.google.com/url?sa=i&url=https%3A%2F%2Fspectrum.ieee.org%2Fhydroelectric-power&psig=AOvVaw1t9rgf_VlQiwBva8fYEuyH&ust=1676696398370000&source=images&cd=vfe&ved=2ahUKEwjX6oT74pv9AhXLK7cAHXGPAmwQr4kDegUIARCjAQ
Icon=text-html
